/* main.css */
/* applies globally to all pages */
/* some naming conventions will be mimicking Bootstrap */
/* some parts follow The Net Ninja's "Mobile-First Responsive Build" tutorial (on YouTube) */

/* fonts */

@font-face {
  font-family: 'Abel Regular';
  src: url('/assets/fonts/Abel/Abel-Regular.ttf');
}



/* variables */

:root {
  --background-color-1: #222;
  --background-color-2: #181818;
  --background-color-3: #282828;
  --color-1: #ddd;
  --color-2: #aaa;
}



/* reset */
* {
  margin: 0;
  padding: 0;
}



/* base styles */

html {
  font-size: 16px;
}

body {
  background-color: var(--background-color-1);
  color: var(--color-1);
  font-family: 'Abel Regular';
  font-size: 1.0rem;
  font-weight: normal;
  line-height: 1.6em;
  text-align: left;
}

a {
  color: #fff;
}

a[href=""],
a:hover {
  color: var(--color-2);
}

/* reference: https://www.w3.org/TR/2017/REC-html52-20171214/rendering.html#sections-and-headings */
h1 {
  font-size: 2.0em;
  margin-block-end: 0.67em;
  margin-block-start: 0.67em;
}

h2 {
  font-size: 1.5em;
  margin-block-end: 0.83em;
  margin-block-start: 0.83em;
}

h3 {
  font-size: 1.17em;
  margin-block-end: 1.0em;
  margin-block-start: 1.0em;
}

h4 {
  font-size: 1.0em;
  margin-block-end: 1.33em;
  margin-block-start: 1.33em;
}

h5 {
  font-size: 0.83em;
  margin-block-end: 1.67em;
  margin-block-start: 1.67em;
}

h6 {
  font-size: 0.67em;
  margin-block-end: 2.33em;
  margin-block-start: 2.33em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: bold;
}

hr {
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
  margin-inline-end: auto;
  margin-inline-start: auto;
}

ol {
  margin-block-end: 1.0em;
  margin-block-start: 1.0em;
  padding-inline-start: 2.0em;
}

ul {
  margin-block-end: 1.0em;
  margin-block-start: 1.0em;
  padding-inline-start: 2.0em;
}



/* mobile styles */

/* COMMON TO ALL PAGES */

/* reference: https://stackoverflow.com/questions/46158844/how-can-i-have-a-sticky-footer-with-my-css-grid-layout */
#site-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  min-height: 100vh;
}

#site-header {
  background-color: #fff;
  color: #000;
  padding: 1.0em;
  text-align: center;
}
#site-header > h1 {
  border-bottom: 0.1em solid #000;
  color: #000;
  display: inline-block;
  margin: 0;
  padding-bottom: 0.1em;
}
#site-header > h1 > img {
  width: 2.0em;
}

/* reference: https://www.youtube.com/watch?v=xMTs8tAapnQ */
#site-nav {
  background-color: #000;
  box-shadow: 0 1px 5px #000;
  color: #fff;
  font-size: 1.25em;
  padding: 0.5em;
}
#hidden-toggle {
  display: none;
}
#site-nav > label {
  cursor: pointer;
  display: block;
  text-align: right;
}
#site-nav > label::before {
  /* "trigram for heaven" symbol (3 horizontal bars / hamburger) */
  content: "\2630";
}
#site-nav > label:hover {
  color: var(--color-2);
}
#hidden-toggle:checked + label::before {
  /* "multiplication x" symbol (close) */
  content: "\2715";
}
#site-nav > menu {
  display: none;
  text-align: center;
}
#hidden-toggle:checked ~ menu {
  display: block;
}
#site-nav > menu > a {
  border-bottom: 1px solid #fff;
  display: block;
  margin: 0.2em 0 0 0;
  padding: 0 0 0.2em 0;
  text-decoration: none;
}

#site-main {
  margin: 2.0em auto;
}

#site-footer {
  /* align footer to bottom of site-page */
  align-self: end;
  background-color: #000;
  box-shadow: 0 -1px 5px #000;
  color: #fff;
  padding: 1.0em;
  text-align: center;
}
#site-footer > h6 {
  border-top: 0.1em dotted #fff;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding-top: 0.1em;
}

/* SPECIFICS */

#headshot {
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 10px #000;
  display: block;
  margin: 1.0em auto;
  width: 10.0em;
}

.panel {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
}
.panel > section {
  background-color: var(--background-color-2);
  box-shadow: 1px 1px 5px #000;
  padding: 1.0em;
}
.panel > aside {
  background-color: var(--background-color-3);
  box-shadow: 1px 1px 5px #000;
  padding: 1.0em;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  #site-nav > label {
    display: none;
  }
  #site-nav > menu {
    display: block;
    text-align: right;
  }
  #site-nav > menu > a {
    border-bottom: 0;
    border-right: 1px solid #fff;
    display: inline;
    margin: 0 0 0 0.2em;
    padding: 0 0.2em 0 0;
  }
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 1.125rem;
  }

  #site-main {
    width: 70%;
  }

  .panel {
    grid-template-columns: 2fr 1fr;
  }
  .panel > section {
    border-radius: 1%;
  }
  .panel > aside {
    border-radius: 1%;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.25rem;
  }
}



/* =====REUSABLE===== */

/* ===LAYOUT=== */

/* =GRID= */

.grid {
  display: grid;
}

.grid-c1 {
  grid-template-columns: 1fr;
}

.grid-c2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-c3 {
  grid-template-columns: repeat(3, 1fr);
}

.gap-10px {
  gap: 10px;
}

.gap-25px {
  gap: 25px;
}



/* ===CONTENT=== */



/* ===COMPONENTS=== */



/* ===UTILITIES=== */

/* =BORDERS= */

.border {
  border: 1px solid #000;
}

.border-white {
  border-color: #fff;
}

.rounded-circle {
  border-radius: 50%;
}

/* =SIZING= */

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

/* =SPACING= */

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* =TEXT= */

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

/* =VIDEO= */

/* reference: https://www.ankursheel.com/blog/full-width-you-tube-video-embed */
.video-container-16x9 {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}
.video-container-16x9 > iframe {
  height: 100%;
  position: absolute;
  width: 100%;
}
