/* main.css */
/* applies globally to all pages */

body {
  background-color:#222;
  color:#ddd;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:16px;
  line-height:1.6em;
  margin:0;
}

a {
  color:#fff;
}

a:hover {
  color:#aaa;
}

.container {
  margin:auto;
  overflow:hidden;
  width:80%;
}

#main-footer {
  background-color:#000;
  color:#fff;
  margin-top:100px;
  padding:20px;
  text-align:center;
}

#main-header {
  background-color:#fff;
  color:#000;
  text-align:center;
}

#main-header .container img {
  float:left;
  height:64px;
  width:10%;
}

#main-header .container h1 {
  float:right;
  width:90%;
}

#navbar {
  background-color:#000;
  color:#fff;
}

#navbar ul {
  /* removes bullet points */
  list-style: none;
  padding:0;
}

#navbar li {
  /* places links horizontally */
  display:inline;
}

#navbar a {
  color:#fff;
  font-size:18px;
  padding-right:15px;
  text-decoration: none;
}

#navbar a:hover {
  color:#aaa;
}

#showcase {
  margin-bottom:30px;
  /* use this instead so that the text doesnt overflow into below elements on window shrink */
  min-height:300px;
  text-align:center;
}

#showcase h1 {
  color:#777;
  font-size:50px;
  line-height:1.6em;
  padding-top:30px;
}

#main, .course {
  /* takes into account the extra padding, border, margin? into the width */
  box-sizing:border-box;
  float:left;
  padding:0px 30px;
  width:70%;
}

.container .term h1 {
  color:#fff;
}

.container .term .course h1 {
  color:#fff;
}

#sidebar, .tools {
  background:#333;
  /* takes into account the extra padding, border, margin? into the width */
  box-sizing:border-box;
  color:#fff;
  float:right;
  padding:10px;
  width:30%;
}

/* reference: https://coolestguidesontheplanet.com/videodrome/youtube/ */
.video-container {
  height:0;
  overflow:hidden;
  padding-bottom:56.25%; /* 9/16 */
  padding-top:30px;
  position:relative;
}

.video-container embed, .video-container iframe, .video-container object {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

/* media query to make the elements more responsive, they will pop down if window gets too small */
/* makes it so these styles will only be effective if under 600px */
@media(max-width:600px) {
  #main, .course {
    float:none;
    width:100%;
  }

  #sidebar, .tools {
    float:none;
    width:100%;
  }
}
